<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="splash">
      <img src="images/MedicareLogo.jpg" alt="Splash Logo">
    </div>

    <div class="content">
    
      <!--Website content goes here -->
      <div class = "leftBar">
        <div class = "quoteText"></div>
        <div class = "quotationMks"></div>
      </div>
      
      <div class = "rightBar">
      <div class = "rightSideLogo"></div>
      <div class="form-container">

        <form action="/login" method="post">
          <h3>Hello Again!</h3>
          <div class = "captionText"></div>

          <input type="text" name="username" required placeholder="Username">
          <input type="password" name="password" required placeholder="Password">
          <input type="submit" name="submit" value="Login" class="form-btn">

          <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
          
        </form>

      </div>
      </div>

    </div>

  <script>
    window.addEventListener('load', function(){
      setTimeout(function(){
          document.querySelector('.splash').style.display = 'none';
          document.querySelector('.content').style.display = 'block';
      }, 2000);
    });


  </script>


  <script>

  // Handle form submission
  const form = document.querySelector('form');
  
  form.addEventListener('submit', async (event) => {
    
    event.preventDefault();

    const username = form.elements.username.value;
    const password = form.elements.password.value;

    // Send request to server to  user
    const response = await fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      
      body: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`
    
    });

    if (response.ok) {

      // Registration successful, redirect to login page
      window.location.href = '/dashboard';
    
    } else {
    
      // Registration failed, display error message
      const data = await response.json();
      alert(data.error);
    
    }
  
  });

  </script>
    
</body>
</html>
