<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="form-container">

      <form action="/addRecord" method="post">
            <h3>Add Record </h3>
            <input type="text" name="patientid" required placeholder={{response.patientid}}>
            <input type="text" name="condition" required placeholder={{response.condition}}>
            <input type="text" name="description" required placeholder={{response.description}}>
            <input type="text" name="prescription" required placeholder={{response.prescription}}>
            <input type="submit" name="submit" value="Add record" class="form-btn">
</body>
</html>